<template>
  <label
    class="a-input"
    :class="{ error, caption, disabled, textarea, labeled: label }"
  >
    <div class="a-input__el-wrapper">
      <span class="a-input__label">{{ label }}</span>
      <textarea
        v-if="textarea"
        ref="input"
        v-model="data"
        class="a-input__el"
        :tabindex="disabled ? -1 : 0"
        v-bind="$attrs"
        autocomplete="off"
        :readonly="disabled"
        v-on="inputListeners"
        @blur="$emit('change', data)"
      />
      <input
        v-else
        ref="input"
        v-model="data"
        type="text"
        autocomplete="off"
        v-bind="$attrs"
        :tabindex="disabled ? -1 : 0"
        class="a-input__el"
        :readonly="disabled"
        v-on="inputListeners"
        @blur="$emit('change', data)"
      />
    </div>
    <span class="a-input__caption">
      {{ caption }}
    </span>
    <span class="a-input__error">
      <div class="a-input__error-icon" />
      {{ error }}
    </span>
  </label>
</template>

<script>
export default {
  name: 'AInput',
  props: {
    value: {
      type: [String, Number],
      default: null
    },
    label: {
      type: String,
      default: null
    },
    error: {
      type: String,
      default: null
    },
    caption: {
      type: String,
      default: null
    },
    textarea: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      data: null
    }
  },
  computed: {
    inputListeners: function() {
      return Object.assign({}, this.$listeners, {
        input: event => {
          this.$emit('input', event.target.value)
        },
        change: event => {
          this.$emit('change', event.target.value)
        },
        blur: event => {
          this.$emit('blur', event.target.value)
        },
        keyup: event => {
          if (event.keyCode === this.$ENTER_KEYCODE) {
            this.$emit('keyup', this.data)
          }
        }
      })
    }
  },
  watch: {
    value() {
      this.updateFromProp()
    },
    data() {
      this.$emit('input', this.data)
    }
  },
  created() {
    this.$ENTER_KEYCODE = 13
  },
  mounted() {
    this.updateFromProp()
  },
  methods: {
    updateFromProp() {
      this.data = this.value
    },
    focus() {
      this.$refs.input.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.a-input {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  width: 100%;

  margin-bottom: 0;

  @include ProximaNovaSemibold;
  font-size: 14px;

  &.disabled {
    pointer-events: none;
  }

  &__el {
    position: relative;

    display: inline-block;

    color: $color-oxford-blue;

    box-sizing: border-box;
    height: 36px;
    max-width: 100%;
    width: 100%;

    overflow: hidden;

    line-height: 36px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

    background-color: $color-white;
    border: 1px solid $color-athens-gray;
    border-radius: 4px;
    outline: none;

    padding: 12px 15px 12px 15px;

    transition: all 0.15s ease-in-out;
    will-change: border-color, color, padding;

    -webkit-appearance: none;

    .a-input.textarea & {
      line-height: 1.35;
      height: 132px;
      max-width: 100%;

      resize: none;
    }

    &:focus {
      border-color: $color-dodger-blue;
    }

    &::placeholder,
    .disabled & {
      color: $color-oxford-blue-50-opacity;
    }

    .a-input.disabled & {
      background-color: $color-athens-gray;
    }

    .a-input.error & {
      color: $color-crimson;
      border-color: $color-crimson;
      padding-right: 36px;
    }
  }
}

.a-input__label {
  @include input-label('.a-input');
}

.a-input__el-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.a-input__error {
  @include input-error('.a-input');
}

.a-input__caption {
  @include input-caption('.a-input');
}
</style>
